@charset "UTF-8";


div#video {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.298);
}

div#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}